<div class="navbar navbar-fixed-left radius ">
  <div class="profile-image center radius">
    <%= image_tag(user.avatar.url(:thumb)) %>
  </div>

  <h4 class="profile-name"><strong><%= link_to user.name, user %></strong></h4>

</div>