<%= render partial: 'profile_sidebar', locals: {user: @dashboard.user} %>

<div class="container body-padding">

  <%= render partial: 'tweets/form', locals: {tweet: @dashboard.new_tweet} %>
  <%= render partial: 'application/tabs', locals: {active_tab: @dashboard.active_tab} %>
  <div class="body_content">
    <%= render partial: 'tweets/tweets', locals: {tweets: @dashboard.my_tweets} %>
  </div>
</div>