nav.navbar.navbar-default.navbar-fixed-top {
  padding-left: 4%;
  padding-right: 2%;
}

.body-padding {
  padding-top: 70px;
}

.dropdown-menu > li > a:hover {
  color: white;
  background-color: #0088CC;
  background-image: none;
}

body {
  background-color: white !important;
}

.feed-container {
  background-color: #EEEEEE;
  margin-left: 21%;
  margin-right: 5%;
  margin-top: 2%;
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-top: 0.5%;
  img {
    width: 20%;
  }
}

.container {
  @extend .feed-container;
  margin: 2% auto;

  img {
    width: 50%;
    height: 40%;
  }
}

.profile-image-background {
  background-color: #1DA1F2;
  width: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.navbar-fixed-left {
  @extend .profile-image-background;
  margin-top: 2%;
  margin-left: 5%;
  padding-top: 1%;
  width: 15%;
  position: fixed;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .feed-container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.radius {
  border-radius: 5%;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
}

.body_content {
  background-color: white;
  border: 0.1px solid;
  border-color: gainsboro;
  padding: 1%;
  border-top: hidden;
  margin-bottom: 2%;
}
.with_border_top{
  border-top: 0.1px solid;
  border-color: gainsboro;
}

.time-right{
  float: right;
  margin-top: -2%;
}
