.profile-image {
    background-color: white;
    border: 1px solid #d9d9d9;
    height: 60%;
    width: 60%;
    overflow: hidden;
    text-align: center;
img { width: 100% }
}

.center{
  margin: 0 auto;
  text-align: center;
}

.profile-name{
  @extend .center;
  margin-top: 5%;
  color: white;
}

.profile-resume{
  @extend .profile-name;
}

