<ul class="nav nav-tabs">
  <li role="presentation" <%= active_tab active_tab, "my_tweets" %> >
    <a href="#">My Tweets
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
    </a>
  </li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>