<%= render partial: 'application/profile_sidebar' %>

<div class="feed-container body-padding radius">

  <%= render partial: 'tweets/form', locals: {tweet: @dashboard.new_tweet} %>
  <%= render partial: 'application/tabs' %>

</div>